name: Publish Release

on:
  workflow_dispatch:
    inputs:
      release_url:
        description: 'Release URL to publish'
        required: true

jobs:
  publish_release:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Base Setup
        uses: jupyterlab/maintainer-tools/.github/actions/base-setup@v1
      - name: Publish Release
        uses: jupyter-server/jupyter_releaser/.github/actions/publish-release@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          release_url: ${{ github.event.inputs.release_url }}
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
